* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	font-size: inherit;
	color: inherit;
}
body {
	color: #000;
	font-size: 13px;
	line-height: 23px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}
h1 {
	color: #b03a0a;
	font-weight: 500;
	font-size: 19px;
	padding-top: 15px;
	border-top: 4px solid #b03a0a;
	margin-bottom: 10px;
}
h2 {
	color: #05424b;
	font-weight: 300;
	font-size: 28px;
}
h3 {
	color: #05424b;
	font-weight: 300;
	font-size: 19px;
}
h4 {
	color: #05424b;
	font-weight: 700;
	font-size: 13px;
	margin-bottom: -10px;
}
br + h1, br + h2, br + h3, br + h4 {
	margin-top: 0 !important;
}
hr {
	border: 1px solid #b03a0a;
}
a, a:visited {
	color: #b03a0a;
	text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
h1:not(:first-child) {
	margin-top: 45px;
}
h2:not(:first-child), h3:not(:first-child), p:not(:first-child) {
	margin-top: 20px;
}
blockquote {
	background-color: #f0f0f0;
	margin-top: 20px;
	padding: 25px;
}
blockquote .col {
	width: 33.333%;
	float: left;
}
a.btn:after {
	content: '+';
	display: inline-block;
	margin-left: 8px;
	font-weight: 500;
	font-size: 18px;
	position: relative;
	top: 1px;
	opacity: 0.5;
}
a.btn.active:after {
	content: '–';
	display: inline-block;
	margin-left: 8px;
	font-weight: 500;
	font-size: 18px;
	position: relative;
	top: 1px;
	opacity: 0.5;
}
a.bottom {
	position: absolute;
	bottom: 20px;
}
a.right {
	position: absolute;
	right: 20px;
}
a:hover {
	text-decoration: underline;
}
.relative {
	position: relative;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
.container {
	width: 960px;
	margin: 0 auto;
}
em {
	font-style: italic;
}
strong {
	font-weight: 700;
}
header {
	position: absolute;
	z-index: 9999;
	top: 0;
	height: 90px;
	width: 100%;
	background-color: #323232; /* FALLBACK */
	background-color: rgba(50,50,50,0.85);
	border-bottom: 10px solid #e94300;
	-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}
header nav .logo {
	float: left;
}
header nav .logo img {
	width: 118px;
	height: auto;
	margin-top: 12px;
}
header nav ul#social {
	float: right;
	list-style: none;
	margin: 27px 0 0 40px;
}
header nav ul#social li {
	float: left;
	margin-left: 5px;
}
header nav ul#social li a {
	display: block;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background-color: #fff;
}
header nav ul#social li a:hover {
	opacity: 0.6;
	text-decoration: none;
}
header nav ul#social li a img {
	max-width: 60%;
	height: auto;
	padding: 6.5px 0;
	margin: 0 auto;
	display: block;
}
header nav ul#mobile-menu {
	float: right;
	list-style: none;
	margin: 27px 0 0 40px;
	display: none;
}
header nav ul#main {
	float: right;
	list-style: none;
	margin-top: 20px;
}
header nav ul#main > li {
	float: left;
	height: 75px;
}
header nav ul#main > li > a {
	display: block;
	padding: 10px 23px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	border-right: 1px solid #e94300;
}
header nav ul#main > li:first-child > a {
	border-left: 1px solid #e94300;
}
header nav ul#main > li:hover > a {
	background-color: #838383; /* FALLBACK */
	background-color: rgba(255,255,255,0.3);
	text-decoration: none;
}
header nav ul#main > li > a.active {
	background-color: #05424b;
	border-bottom: 18px solid #05424b;
}
header nav ul#main > li > .drop-down {
	width: 100%;
	position: absolute;
	height: 0;
	top: 90px;
	left: 0;
	-webkit-transition: height 250ms ease-in-out;
	-moz-transition: height 250ms ease-in-out;
	-ms-transition: height 250ms ease-in-out;
	-o-transition: height 250ms ease-in-out;
	transition: height 250ms ease-in-out;
	overflow: hidden;
	background-color: #989898; /* FALLBACK */
	background-color: rgba(152,152,152,0.95);
}
header nav ul#main > li:hover > .drop-down {
	height: 140px;
}
header nav ul#main > li .drop-down ul.sub-menu {
	height: 140px;
	list-style: none;
	z-index: 9999;
	padding: 15px 0;
	-webkit-columns: 4 150px;
	-moz-columns: 4 150px;
	columns: 4 150px;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	position: absolute;
}
header nav ul#main > li .drop-down ul.sub-menu > li > a {
	color: #fff;
	font-weight: 700;
	padding: 2px;
	display: inline-block;
	/*padding-left: 26px;*/
}
header nav ul#main > li .drop-down ul.sub-menu > li > a.callout {
	display: block;
	height: 110px;
	position: absolute;
}
header nav ul#main > li .drop-down ul.sub-menu > li > a.callout img {
	height: 75px;
	width: auto;
}
header nav ul#main > li .drop-down ul.sub-menu > li > a:hover {
	color: #e94300;
	text-decoration: none;
}
#home-hero {
	width: 100%;
	min-height: 460px;
	height: 100vh;
	overflow: hidden;
}
#home-hero .hero-shadow {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 290px;
}
#home-hero ul.hero-slider {
	list-style: none;
}
#home-hero ul.hero-slider li {
	width: 100%;
	min-height: 460px;
	height: 100vh;
}
#home-hero ul.hero-slider li .slide-copy {
	font-size: 60px;
	line-height: 68px;
	font-weight: 700;
	color: #fff;
	position: absolute;
	bottom: 140px;
	text-shadow: 0 0 15px #000;
}
#home-hero ul.hero-slider li .slide-copy strong {
	color: #e94300;
}
#home-hero .quick-links {
	position: absolute;
	bottom: 20px;
	font-weight: 500;
	color: #b03a0a;
	font-size: 15px;
	z-index: 9999;
}
#home-hero .quick-links ul {
	list-style: none;
	width: 960px;
	margin-top: 10px;
}
#home-hero .quick-links ul li {
	float: left;
	width: 25%;
	padding: 0 4px;	
}
#home-hero .quick-links ul li:first-child {
	padding-left: 0;	
}
#home-hero .quick-links ul li:last-child {
	padding-right: 0;	
}
#home-hero .quick-links ul li a {
	opacity: 0.8;
	text-align: center;
	display: block;
	padding: 15px;
	color: #fff;
	font-size: 22px;
	font-weight: 500;
	background-color: #008192;
}
#home-hero .quick-links ul li a:hover {
	opacity: 1;
	text-decoration: none;
}
.breadcrumbs {
	height: 68px;
	background-color: #fff; /* FALLBACK */
	background-color: rgba(255,255,255,0.5);
	margin-top: 90px;
}
.breadcrumbs ul {
	list-style: none;
	display: inline-block;
	float: left;
	margin-top: 25px;
}
.breadcrumbs ul li {
	font-size: 13px;
	display: inline;
	font-weight: 500;
}
.breadcrumbs ul li:before {
	content: ' / ';
	display: inline;
}
.breadcrumbs ul li:first-child:before {
	content: '';
}
.breadcrumbs ul li a, .breadcrumbs ul li a:visited {
	color: #000;
	text-decoration: none;
	text-transform: none;
}
.breadcrumbs ul li a:hover {
	color: #b03a0a;
}
.breadcrumbs .right {
	float: right;
	margin-top: 19px;
}
.breadcrumbs .right a.print {
	display: inline-block;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background-color: #fff;
}
.breadcrumbs .right a.print:hover {
	opacity: 0.6;
	text-decoration: none;
}
.breadcrumbs .right a.print img {
	max-width: 60%;
	height: auto;
	padding: 7px 0;
	margin: 0 auto;
	display: block;
}
.breadcrumbs .right form.search {
	position: relative;
	top: -10px;
	display: inline-block;
}
.breadcrumbs .right form.search input[type*="text"] {
	background-color: #f0f0f0;
	border: none;
	font-size: 13px;
	font-weight: 700;
	color: #b03a0a;
	padding: 8px 10px 8px 35px;
	width: 150px;
	margin-left: 5px;
}
.breadcrumbs .right form.search ::-webkit-input-placeholder {
	color: #b03a0a;
	opacity: 1;
}
.breadcrumbs .right form.search :-moz-placeholder {
	color: #b03a0a;
	opacity: 1;
}
.breadcrumbs .right form.search ::-moz-placeholder {
	color: #b03a0a;
	opacity: 1;
}
.breadcrumbs .right form.search :-ms-input-placeholder {
	color: #b03a0a;
	opacity: 1;
}
.breadcrumbs .right form.search input[type*="submit"] {
	display: block;
	position: absolute;
	left: 18px;
	top: 10px;
	width: 13px;
	height: 13px;
	background: url(../images/search.svg) no-repeat center center;
	background-size: contain;
	cursor: pointer;
}
.bg-slider {
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
.bg-slider ul, .bg-slider ul li {
	height: 100%;
	height: 100vh;
}
.bg-slider .landing-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.breadcrumbs + .content {
	padding-top: 20px;
}
.content {
	padding: 45px 0;
}
.content .left:not(.btn), .content .right:not(.btn) {
	float: left;
	width: 25%;
}
.content .left nav > ul ul {
	list-style: none;
	display: none;
}
.content .left nav ul.open {
	height: auto;
}
.content .left nav > ul {
	width: 86%;
	list-style: none;
}
.content .left nav > ul > li {
	margin-top: 0;
	background-color: #c1c1c1;
	padding: 10px;
	padding: 4px;
}
.content .left nav > ul > li.active {
	background-color: #05424b;
}
.content .left nav > ul > li.active a, .content .left nav > ul > li.active a:visited, .content .left nav > ul > li.active > .toggle {
	color: #fff;
}
.content .left nav > ul > li:first-child {
	margin-top: 0;
}
.content .left nav .toggle {
	font-weight: 700;
	padding: 0 0 0 12px;
	cursor: pointer;
	font-size: 16px;
	position: relative;
	top: 1px;
}
.content .left nav > ul > li > a, footer nav > ul > li > a:visited {
	display: inline-block;
	padding: 3px 10px 2px 0;
	margin-left: 10px;
	color: #000;
	font-weight: 700;
	font-size: 12px;
	max-height: 40px;
	text-transform: none;
}
.content .left nav > ul > li a:hover, .content .left nav > ul > li > ul > li > a:hover, .content .left nav > ul > li > ul > li > ul > li > a:hover, .content .left nav > ul li.active a:hover {
	color: #b03a0a !important;
	text-decoration: none;
}
.content .left nav > ul > li > ul > li {
	padding: 1px;
	background-color: #cdd9db;
	padding: 2px;
	margin-top: 4px;
}
.content .left nav > ul > li > ul > li:first-child {
	margin-top: 0;
}
.content .left nav > ul > li > ul > li.active {
	background-color: #507b81;
}
.content .left nav > ul > li > ul > li > .toggle {
	padding-left: 9px;
	color: #000 !important;
}
.content .left nav > ul > li > ul > li > a, .content .left nav > ul > li > ul > li > a:visited {
	font-weight: 300;
	padding: 2px 10px 0 0;
	margin-left: 10px;
	color: #000 !important;
	text-transform: none;
	display: inline-block;
}
.content .left nav > ul > li > ul > li.active > a, .content .left nav > ul > li > ul > li.active > a:visited, .content .left nav > ul > li > ul > li.active > .toggle {
	color: #fff !important;
}
.content .left nav > ul > li > ul > li.active > a:hover, .content .left nav > ul > li > ul > li > a:hover {
	color: #b03a0a !important;
}
.content .left nav > ul > li > ul > li > ul {
	background-color: #fff;
	padding: 4px 0;
}
.content .left nav > ul > li > ul > li > ul > li {
	padding:0 10px;
}
.content .left nav > ul > li > ul > li > ul > li > a {
	font-size: 10px;
	font-weight: 500;
	color: #000 !important;
	padding: 4px 18px;
	text-transform: none;
}
.content .left nav > ul > li > ul > li > ul > li.active a, .content .left nav > ul > li > ul > li > ul > li.active a:visited {
	color: #b03a0a !important;
	text-decoration: none;
}
.content .right:not(.btn) {
	width: 75%;
}
.content .right .landing-content {
	background-color: #fff;
	padding: 30px;
}
.feature-slider {
	margin-top: 20px;
	position: relative;
}
.feature-slider ul.slides, .feature-slider ul.slides li {
	display: block;
	width: 100%;
	height: 300px;
}
.feature-slider ul.slides li div {
	float: left !important;
	width: 50% !important;
	height: 300px;
	background-color: #f0f0f0;
}
.feature-slider ul.slides li .right {
	padding: 30px;
}
.experience .lSSlideOuter {
	height: 245px;
}
.feature-slider .lSSlideWrapper, .experience .lSSlideWrapper {
	overflow: visible;
}
.feature-slider .lSAction, .experience .lSAction {
	position: absolute;
	bottom: -124px;
	right: 0;
	z-index: 9999;
	width: 160px;
	height: 120px;
	background: #f0f0f0;
}
.feature-slider .lSAction > .lSNext, .feature-slider .lSAction > .lSPrev, .experience .lSAction > .lSNext, .experience .lSAction > .lSPrev {
	background: #1e555d url(../images/arrow.svg) no-repeat center center;
	right: 0;
	left: initial;
	bottom: initial;
	top: 0;
	position: absolute;
	z-index: 9999;
	width: 50%;
	height: 60px;
	margin: 0;
	opacity: 1;
	border-left: 1px solid #82a0a5;
}
.feature-slider .lSAction > .lSNext:hover, .feature-slider .lSAction > .lSPrev:hover, .experience .lSAction > .lSNext:hover, .experience .lSAction > .lSPrev:hover {
	opacity: 0.6;
}
.feature-slider .lSAction > .lSPrev, .experience .lSAction > .lSPrev {
	border: none;
	right: initial;
	left: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.feature-slider a.bottom {
	z-index: 9999;
}
.feature-link {
	margin-top: 30px;
}
.feature-link + .feature-link {
	margin-top: 4px;
}
.feature-link .left, .feature-link .right {
	float: left;
	width: 68% !important;
	padding-right: 2px;
}
.feature-link .left {
	position: relative;
}
.feature-link .left .title {
	color: #fff;
	background-color: #05424b;
	height: 60px;
	font-size: 19px;
	font-weight: 300;
	padding: 20px 0 20px 20px;
}
.feature-link .left .content {
	line-height: 18px;
	padding: 14px 20px;
	height: 60px;
	background-color: #e0e0e0;
}
.feature-link a, .feature-link a:visited {
	position: absolute;
	top: 0;
	right: 2px;
	padding: 18px 25px;
	background-color: #1e555d;
}
.feature-link a:hover {
	opacity: 0.6;
}
.feature-link .right {
	width: 32% !important;
	height: 120px;
	padding-right: 0;
	padding-left: 2px;
}
.gallery ul {
	list-style: none;
	margin-top: 8px;
}
.gallery ul li {
	float: left;
	width: 33.333%;
	height: 180px;
	padding: 3px;
}
.gallery ul li.featured {
	width: 66.666%;
	height: 360px;
}
.gallery ul li a, .experience ul li a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	text-transform: none;
}
.gallery ul li a .title, .experience ul li a .title {
	background-color: #05424b; /* FALLBACK */
	background-color: rgba(5,66,75, 0.8);
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	color: #fff;
	line-height: 17px;
	padding: 15px;
	display: block;
	width: 100%;
	position: absolute;
	z-index: 999;
	bottom: 0;
	left: 0;
}
.gallery ul li a:hover .title {
	background-color: #05424b;
}
#map-canvas {
	height: 500px;
	border-top: 4px solid #b03a0a;
}
.clearfix > h3 {
	display: inline-block;
	float: left;
}
.location {
	float: right;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	color: #05424b;
}
.hero {
	height: 350px;
	margin-top: 10px;
	position: relative;
}
.hero .title {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #05424b;
	background-color: rgba(5,66,75, 0.8);
	z-index: 999;
	color: #fff;
	font-size: 19px;
	padding: 15px;
}
.property-content {
	margin-top: 0;
}
.accordion-content {
	display: none;
	margin-top: 20px;
}
.property-gallery ul {
	list-style: none;
	border-bottom: 4px solid #05424b;
}
.property-gallery ul li {
	display: block;
	height: 120px;
	width: 33.333%;
	float: left;
	cursor: pointer;
}
.property-gallery ul li img {
	max-width: 100%;
	height: auto;
	display: block;
}
#property-slides {
	list-style: none;
	height: 350px;
	position: relative;
}
#property-slides li {
	height: 100%;
	width: 100%;
	display: none;
	position: absolute !important;
	top: 0;
}
#property-slides li:first-child {
	display: block;
}
.property-page-left, .team-page-left {
	width: 68%;
	float: left;
}
.property-page-left {
	margin-top: 40px;
}
.property-page-right, .team-page-right, .team-page-right-no-margin {
	width: 28%;
	float: left;
	margin-left: 4%;
}
.property-page-right {
	margin-top: 64px;
}
.contact-hero .team-page-left {
	height: 250px;
}
.team-page-right-no-margin {
	margin-left: 0;
	width: 32%;
}
.team-page-right-no-margin {
	height: 100%;
	margin: 0;
	padding: 25px;
	background-color: #f0f0f0;
}
.quote {
	color: #b03a0a;
	border-top: 1px solid #b03a0a;
	padding-top: 28px;
}
.team-page-right .quote {
	margin-top: 22px;
}
.web-box {
	display: none;
}
.contact-hero {
	height: 250px;
}
a.vcard {
	text-transform: none;	
}
a.vcard:before {
	content: '';
	display: inline-block;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background-color: #fff;
	background: #d6d6d6 url(../images/vcard.svg) no-repeat center center;
	margin-right: 10px;
	position: relative;
	top: 10px;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
a.vcard:hover:before {
	background-color: #fff;
}
.experience ul {
	list-style: none;
	position: relative;
}
.experience ul li {
	display: block;
	height: 180px;
	width: 33.333%;
	float: left;
}
footer {
	background-color: #e0e0e0;
	padding-top: 45px;
}
footer .contact-btn img {
	margin-bottom: -10px;
}
footer h3, footer h4, footer h5 {
	color: #b03a0a;
	font-weight: 500;
}
footer h3 {
	font-size: 17px;
}
footer h4 {
	font-size: 14px;
	margin-bottom: 30px;
}
footer h5 {
	margin-bottom: -10px;
}
footer .top-col {
	float: left;
	width: 16.667%;
	margin: 20px 0 40px 0;
	font-size: 12px;
}
footer .top-col strong {
	font-weight: 500;
}
footer .left-col, footer .middle-col, footer .right-col {
	float: left;
	margin-top: 40px;
	font-size: 12px;
}
footer .left-col {
	width: 25%;
}
footer .middle-col {
	width: 41.667%;
	padding-right: 40px;
}
footer .middle-col img.newsletter-thumb {
	width: 130px;
	height: auto;
	margin-bottom: 40px;
}
footer .right-col {
	width: 33.333%;
}
footer nav ul {
	width: 86%;
	list-style: none;
}
footer nav ul li {
	margin-top: 4px;
}
footer nav ul li:first-child {
	margin-top: 0;
}
footer nav ul li a, footer nav ul li a:visited {
	display: block;
	background-color: #c1c1c1;
	color: #707070;
	font-weight: 700;
	font-size: 12px;
	max-height: 40px;
	text-transform: none;
}
footer nav ul li a:hover {
	opacity: 0.7;
	text-decoration: none;
}
footer nav ul li a span {
	position: relative;
	top: -16px;
	margin-left: 8px;
}
footer .hidden-footer {
	display: none;
	padding-top: 40px;
}
footer .footer-toggle {
	font-size: 18px;
	font-weight: 500;
	text-transform: none;
	margin-top: 20px;
	display: inline-block;
}
footer .footer-toggle.btn:after {
	font-size: 26px;
	opacity: 1;
}
footer .footer-toggle.btn.active:after {
	content: '–';
}
footer .bottom {
	background-color: #323232;
	padding: 25px 0;
	color: #fff;
	margin-top: 45px;
	font-size: 12px;
}

@media only screen and (max-width: 960px) {
.feature-slider ul.slides li {
	height: auto !important;
}
.feature-slider ul.slides li div {
	width: 100% !important;
}
.feature-slider .lSAction, .experience .lSAction {
	width: 16.667%;
	height: 80px;
	position: absolute;
	bottom: -84px;
	background: #fff;
}
.feature-slider .lSAction > .lSNext, .feature-slider .lSAction > .lSPrev, .experience .lSAction > .lSNext, .experience .lSAction > .lSPrev {
	height: 50%;
}
.feature-slider .bottom.right {
	display: none;
}
.feature-slider ul.slides li .right {
	height: auto;
}
.feature-slider a.bottom {
	position: relative;
	top: 10px;
}
.container {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
#home-hero ul.hero-slider li .slide-copy {
	font-size: 42px;
	line-height: 48px;
	bottom: 320px;
}
#home-hero .quick-links {
	width: 100%;
	left: 0;
	padding: 0 20px;
}
#home-hero .quick-links ul {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
#home-hero .quick-links ul li {
	padding: 2px 0;
	width: 100%;
}
.content .left:not(.btn), .content .right:not(.btn) {
	float: none;
	width: 100%;
}
header nav ul#social {
	display: none;
}
.content .left nav > ul {
	width: 100%;
	margin-bottom: 40px;
}
header nav ul#main > li > a {
	padding: 10px 12px;
	font-size: 12px;
}
header nav ul#main > li .drop-down ul.sub-menu > li > a.callout {
	padding-left: 20px;
}
header nav ul#main > li .drop-down ul.sub-menu {
	-webkit-columns: 5 50px;
	-moz-columns: 5 50px;
	columns: 5 50px;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
}
.breadcrumbs {
	height: auto;
}
.breadcrumbs ul, .breadcrumbs .right {
	float: none;
}
.breadcrumbs .right {
	margin-bottom: 18px;
}
footer .left-col {
	float: none;
	width: 100%;
}
footer nav ul {
	width: 40%;
}
footer .middle-col, footer .right-col {
	width: 50%;
}
footer .middle-col img.newsletter-thumb {
	margin-bottom: 0;
}
}
@media only screen and (min-width: 641px) {
header nav ul#main > li > .drop-down {
	height: 0;
}
header nav ul#main > li:hover > .drop-down {
	height: 140px;
}
}
@media only screen and (max-width: 640px) {
footer .middle-col, footer .right-col {
	width: 100%;
	float: none;
}
footer nav ul {
	width: 100%;
}
footer .top-col {
	float: none;
	width: 100%;
	margin-bottom: 0;
}
footer .top-col:last-child {
	margin-bottom: 40px;
}
.property-page-left, .team-page-left, .property-page-right, .team-page-right {
	width: 100%;
	margin-left: 0;
	float: none;
}
.feature-link .left, .feature-link .right {
	width: 100% !important;
	padding: 0;
}
.feature-link a, .feature-link a:visited {	
	padding: 8px;
	left: 0;
	right: initial;
}
.feature-link .left .title, .feature-link .left .content {
	height: auto;
}
.feature-link .left .title {
	padding-left: 60px;
}
.feature-link .right {
	height: 200px;
}
.team-page-right-no-margin {
	width: 100%;
}
header nav ul#mobile-menu {
	display: block;
}
header nav ul#mobile-menu li {
	float: left;
	margin-left: 5px;
}
header nav ul#mobile-menu li a {
	display: block;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background-color: #fff;
}
header nav ul#mobile-menu li a:hover {
	opacity: 0.6;
	text-decoration: none;
}
header nav ul#mobile-menu li a img {
	max-width: 45%;
	height: auto;
	padding: 8px 0;
	margin: 0 auto;
	display: block;
}
header nav ul#main {
	background-color: #333;
	width: 100%;
	position: absolute;
	top: 70px;
	left: 100%;	
	z-index: 9999;
	width: 0;
	overflow: hidden;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	opacity: 0;
}
header nav ul#main.active {
	left: 0;
	width: 100%;
	opacity: 1;
}
header nav ul#main > li {
	float: none;
	margin-left: 0;
	width: 100%;
	height: auto;
	padding: 6px 10px;
}
header nav ul#main > li:first-child > a, header nav ul#main > li > a {
	border: none;
	display: inline-block;
}
header nav ul#main > li > .drop-down {
	position: relative;
	top: initial;
	max-height: 0;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
header nav ul#main > li.active > .drop-down {
	max-height: 900px;
}
header nav ul#main > li:hover > a {
	background-color: transparent;
}
header nav ul#main > li.active > a {
	background-color: rgba(255,255,255,0.3);
}
header nav ul#main > li .drop-down ul.sub-menu {
	height: auto;
	position: relative;
	left: initial !important;
	-webkit-columns: 1;
	-moz-columns: 1;
	columns: 1;
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	column-gap: 0;
}
header nav ul#main > li .drop-down ul.sub-menu > li > a.callout {
	position: relative;
	left: initial !important;
	padding-left: 0;
}
.gallery ul li {
	float: none;
	width: 100% !important;
	height: 280px !important;
}
}


/* ----- OVERRIDES ----- */
body .aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
body .alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
body .alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
body a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
body a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
body a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.featherlight {
	z-index: 9999;
}
.featherlight .featherlight-inner {
	background-color: #fff;
}
.featherlight-iframe .featherlight-content {
	overflow: visible;
	padding: 4px;
	border: 1px solid #b03a0a;
	box-sizing: content-box;
	background-color: transparent;
}
.featherlight .featherlight-close-icon {
	background-color: #b03a0a;
	color: #fff;
	padding: 8px 10px;
	top: -42px;
	z-index: 99999;
	right: initial;
	left: -1px;
	width: auto;
}
.featherlight .featherlight-close-icon:before {
	content: 'Return to Conor';
	display: inline-block;
	margin-right: 40px;
}
@media only screen and (max-width: 960px) {
.alignright, .alignleft {
    float: none !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
}
